* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: steelblue;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container {
  background: white;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}
.container .cp {
  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 370px;
}

.target {
  border-radius: 30px;
  border-color: steelblue;
  width: 135px;
  font-weight: bold;
  height: 45px;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
}

.target:focus {
  outline: none;
}

.controler {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-bottom: 20px;
}

.cp {
  margin-top: 20px;
}
